body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-top: 1rem;
  }

.navbar {
  background-color: #004080;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h2 {
    text-align: center;
    margin-top: 1rem;
    text-decoration: underline;
  }

h3 {
    text-align: center;
    margin-top: 1rem;
  }

main {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input, textarea, select, button {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 1.5rem;
  background-color: #004080;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0059b3;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #e0e0e0;
  border-top: 1px solid #ccc;
}